<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<script>
angular.module('CalculatorApp',[]).controller('CalculatorController', function($scope){
$scope.result = function(){
if($scope.operator == '+'){
return ($scope.a) + ($scope.b);
}
if($scope.operator == '-'){
return ($scope.a - $scope.b);
}
if($scope.operator == '*'){
return $scope.a * $scope.b;
}
if($scope.operator == '/'){
return $scope.a / $scope.b;
}
};
});
</script>
</head>
<body>
<div ng-app = "CalculatorApp" ng-controller = "CalculatorController">
<p><input type ="text" ng-model="a"></p>
<p><input type = "text" ng-model="b"></p>
<p><select ng-model = "operator">
<option>+</option>
<option>*</option>
<option>-</option>
<option>/</option>
</select></p>
<p>{{result()}}</p>
</div>
</body>
</html>